body{
  font-family: 'Pacifico', cursive;  
  background: #ffc7c7;
  
}
.heading{
    color: #d789d7;
}
.timer{
    color: #821752;
    text-align: center;
    width: 20rem;
    height: 20rem;
    border: 5px solid #faf3dd;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-play, .fa-redo-alt{
    color: #f0a500;
    border: 2px solid transparent;
    padding:1rem;
    border-radius: 2rem;
}