body{
  font-family: 'Pacifico', cursive;  
  background: #ffc7c7;
  
}
.heading{
    color: #d789d7;
}
.timer{
    color: #821752;
    text-align: center;
    width: 20rem;
    height: 20rem;
    border: 5px solid #faf3dd;
    border-radius: 10rem;
}